<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymware.engine.mapper.ExpressionLinkResultLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ymware.engine.entity.ExpressionLinkResultLog">
        <id column="id" property="id"/>
        <result column="service_name" property="serviceName"/>
        <result column="stage_type" property="stageType"/>
        <result column="link_no" property="linkNo"/>
        <result column="business_code" property="businessCode"/>
        <result column="event_code" property="eventCode"/>
        <result column="unique_no" property="uniqueNo"/>
        <result column="result_description" property="resultDescription"/>
        <result column="deleted" property="deleted"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, service_name, stage_type, link_no, business_code, event_code, unique_no, result_description, deleted, create_by, update_by, create_time, update_time
    </sql>

</mapper>
